<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor{
              deployment{
                #used to configure our MainFormActor
                /mainform{
                  dispatcher = akka.actor.synchronized-dispatcher #causes MainFormActor to run on the UI thread for WinForms
                }
                /authenticator{
                  dispatcher = akka.actor.synchronized-dispatcher 
                }
                #inside App.config, in the akka.actor.deployment section with all of the other HOCON
                #you can add this immediately after the /authenticator deployment specification
                /commander/coordinator{
                  router = broadcast-pool
                  nr-of-instances = 3
                }
              }
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>