<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- in App.config file -->
	<!-- add this right after the opening <configuration> tag -->
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<!-- in App.config file -->
	<!-- add this anywhere after <configSections> -->
	<akka>
		<hocon>
			<![CDATA[
				akka {
				  actor {
					deployment {
					  # this nested section will be accessed by akka.actor.deployment
					  # used to configure our ChartingActor
					  /charting {
						# causes ChartingActor to run on the UI thread for WinForms
						dispatcher = akka.actor.synchronized-dispatcher
					  }
					}
				  }
				}
			]]>
		</hocon>
	</akka>
</configuration>